$primary: #0072CE;
$grey: #D3D3D3;


.appointmentsCardHeader {
    height: 60px;

    h1 {
        text-align: center;
    }
}

.appointmentsCardWrapper {
    width: 1000px;
    height: 700px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px #c2c2c2;

    .cardHeader {
        display: flex;
        background-color: #f3f3f3;
        border-radius: 20px 20px 0px 0px;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
        column-gap: 100px;

        h3 {
            margin: 0px;
            width: 120px;
        }
    }

    .buttonGroup {
        display: flex;
        column-gap: 15px;
    }

    .cardBody {
        display: flex;
        flex-direction: column;

        .appointmentCard {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #e0e0e0;
            column-gap: 100px;

            p,
            button {
                width: 120px;

            }

        }
    }
}