.input-label{
  margin-right: 10px;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-row{
    margin-top: 10px !important;
}

.date-picker{
    display: flex;
    align-items: center;
}